
<div class="row" style="background-image: url(https://tuul.tv/sites/default/files/inline-images/tips-de-estudio-de-alumnos-de-ingenieria-para-estudiantes-de-ingenieria-1-compressor.jpg);">
  <div class="col s12 m4 offset-m4">
    <div class="card">
      <div class="card-action while-text">
        <h3 class="center-align  darken-4 " style="color: darkblue">Perfil</h3>
      </div>
	      <div class="card-content">
	        <div class="form-field">
	          <label for="nombre" class="indigo-text text-darken-4">Nombre:  {{ estudiante.nombre }}</label>
	        </div><br>
	        <div class="form-field">
	          <label for="email" class="indigo-text text-darken-4">Email:  {{ estudiante.correo }}</label>
	        </div><br>
	        <div class="form-field">
	          <label for="nivel" class="indigo-text text-darken-4">Nivel Academico:  {{ estudiante.nivel }}</label>
	        </div><br>
	        <div class="form-field">
	          <label for="matricula" class="indigo-text text-darken-4">Matricula:  {{ estudiante.matricula }}</label>
	        </div><br>
	        <div class="form-field">
	          <label for="semestre" class="indigo-text text-darken-4">Semestre:  {{ estudiante.semestre }}</label>
	        </div><br>
	        <div class="form-field">
	        </div><br>
	      </div>
    </div>
  </div>  
</div>